{{ item.name }} ALL=(ALL) NOPASSWD: ALL, !/usr/bin/passwd root, !/usr/bin/passwd, !/usr/sbin/su, !/usr/sbin/su root, !/usr/sbin/visudo, !/usr/bin/vi /etc/sudoers, !/usr/bin/vi /etc/passwd, !/usr/bin/vi /etc/group, !/usr/bin/su, !/usr/bin/sudo su, !/usr/sbin/groupadd, !/usr/sbin/useradd, !/bin/chown, !/usr/sbin/usermod, !/usr/bin/systemctl, !/usr/bin/mysql
